{% extends 'base.html' %}
{% load static %}

{% block title %}FDD{% endblock %}

{% block content%}


<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background: url('{% static 'image/h1.png' %}') no-repeat;background-position:center center;">
    <div class="col-md-8 px-0">
      <h1 class="display-4 " style="color: #343a40;">此页面只为功能演示使用</h1>
      <p class="lead my-3" style="color: #343a40;">为了避免出现未知错误，请优先使用最新chorme浏览器。</p>
      {% if request.user.is_authenticated %}
      <p class="lead mb-0" style="color: #333;">已登录，可以正常测试。</p>
      {% else%}
      <p class="lead mb-0"><a href="{%url 'newuser:login'%}" class="login_">请登录后测试</a></p>
      {% endif%}
    </div>
</div>
<div class="row">
  <div class="col-md-6 ">
    <div class="p-3  jumbotron"  >
      <h4 >基础板块</h4>
      <p>基础:&nbsp;&nbsp;<a href="{%url 'forum:forum'%}" target="_blank">论坛</a>
        <br><small>admin后台管理；auth用户系统；contenttypes跨models操作；sessions客户信息设定；messages消息系统；staticfiles文件服务路径。</small><br><small>ORM语句操作；templates内置标签；cache缓存；logging日志。</small>
      </p>
      
    </div>
  </div>

  <div class="col-md-6 ">
    <div class="p-3  jumbotron"  >
      <h4 >上传/下载</h4>
      <p>上传:&nbsp;&nbsp;<a href="{%url 'newuser:modify_info'%}" target="_blank">头像上传修改</a>
        <br><small>利用cropper.js使图片作为canvas显示，转为blob，再转为File，Ajax-POST传给后端。</small>
      </p>
      <p>下载:<button class="button_" id="download_avater">点击下载头像</button>
        <br><small>后端通过StreamingHttpResponse/FileResponse，流传输下载。</small>
      </p>
    </div>
  </div>

  <div class="col-md-6 ">
    <div class="p-3  jumbotron"  >
      <h4 >前后端分离</h4>
      <!-- Large modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id='test' style="display: none;"></button>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" style="padding: 10px;">
          </div>
        </div>
      </div>
      <p>GET:&nbsp;&nbsp;<a href="{%url 'forum:post_response'%}?article_id=2" target="_blank">查看文章数据</a>
      </p>
      <p>POST:<input type="number" class="input_" value="2" ="" id="input_" ><button class="button_" id="article_id">返回文章数据</button>
        <br><small>Django的serializers序列化查询结果，JsonResponse返回数据，deserialize反序列化（自动筛选数据），再用ORM语句保存。</small>
      </p>
    </div>
  </div>

  <div class="col-md-6 ">
    <div class="p-3  jumbotron"  >
      <h4>异步任务Celery</h4>
      <p>发送邮件:<button class="button_" id="send_mail">发送至我的邮箱</button>
        <br><small>celery+rabbitmq做任务队列。配置邮箱SSL，使用EmailMessage发送html邮件。</small>
      </p>
      <p>定时任务:
        <br><small>django_celery_beat后台设定定时任务，开启celery beat服务。</small>
      </p>
    </div>
  </div>

   <div class="col-md-6 ">
    <div class="p-3  jumbotron"  >
      <h4>Websocket</h4>
      <div class="channels_text" id='channels_text'></div>
      <p><small>用channels包装Django项目，使用Asgi（异步服务器网关接口）。</small></p>
      <p>即时聊天:&nbsp;&nbsp;<a href="{%url 'chat:chat_room' 'chat'%}" target="_blank">进入聊天室</a></p>
    </div>
  </div>

  <div class="col-md-6 ">
    <div class="p-3  jumbotron"  >
      <h4>部署</h4>
      <p>Wsgi:&nbsp;&nbsp;<br><small>使用Nginx（反向代理、静态 文件代理），Uwsgi（应用服务器），supervisor（守护进程），远程数据库。</small></p>
      <p>Asgi:&nbsp;&nbsp;<br><small>使用Nginx（反向代理、静态 文件代理），daphne（应用服务器），supervisor（守护进程），远程数据库。</small></p>
    </div>
  </div>

</div>


<style type="text/css">
  .button_{
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background: #343a40;
    color: #fff;
    padding: 0 10px;
    cursor:pointer
  } 
  .button_:hover{
    background: #000;
  }
  .row h4{
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
  }
  .input_{
    width: 50px;
    border-radius: 5px;
    border: 1px;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
  }
  .channels_text{
    height: 100px;
    background: #333;
    color: #27af27;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: smaller;
    overflow:auto;
  }
  /* 滚动条样式设置 */
  .channels_text::-webkit-scrollbar{/*滚动条整体部分，其中的属性有width,height,background,border等*/
      width:5px; 
      background: black;
  }
  .channels_text::-webkit-scrollbar-track-piece{/*内层轨道，滚动条中间部分*/
      background:#333;
  }
  .channels_text::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分*/
    background:#bbbbbb;
    border-radius:5px;
  }
  
  /* 滚动条样式设置 ---- 完成*/
  .login_{
    background: #ca0505;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
  }
  .login_:hover{color: #343a40;}

</style>

{% endblock %}
{% block script%}
<script type="text/javascript">
  $('#download_avater').click(function(){
    window.open("{%url 'introduce:download_avater'%}"); 
  });

  $('#article_id').click(function(){
    var article_id = $('#input_').val();
    var date_ = {'article_id':article_id};
    $.post("{%url 'forum:post_response'%}",date_,function(response_date){
        console.log(response_date);
        //alert(response_date);
        $('<div>' + JSON.stringify(response_date) + '</div>').appendTo($('.modal-content'));
        $('#test').click();
      });
  });

  $('#send_mail').click(function(){
    $.get("{%url 'introduce:celery_send_maile'%}",function(response_date){
        console.log(response_date);
        if (response_date.status !='success'){alert(response_date.status);};
      });
  });

</script>
<script type="text/javascript">
  function updateScrollbar() {
    var messages_content = document.getElementById('channels_text');
    messages_content.scrollTop = messages_content.scrollHeight;
  }

  //获取当前时间，格式YYYY-MM-DD
  function getNowFormatDate() {
      var date = new Date();
      var hour = date.getHours();
      var minute = date.getMinutes();
      var second = date.getSeconds();
      var milliseconds =date.getMilliseconds()
    
      var currentdate = hour+':'+minute+':'+second + '&nbsp;' + milliseconds;
      return currentdate;
    };

  $('<small>' + getNowFormatDate() + '&nbsp;&nbsp;开始WebSocket链接。' + '</small><br>').appendTo($('#channels_text'));
  var chatSocket = new WebSocket(
      'ws://' + window.location.host +
      '/ws/channels_/' + '{{ user.username }}' + '/');

  chatSocket.onopen = function(e) {
  };

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message']['msg'];
    $('<small>' + getNowFormatDate() + '&nbsp;&nbsp;' + message + '</small><br>').appendTo($('#channels_text'));
    updateScrollbar();

  };

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
    $('<small>' + getNowFormatDate() + '&nbsp;&nbsp;WebSocket链接断开。' + '</small><br>').appendTo($('#channels_text'));
  };

</script>
{% endblock %}